{% extends "layout.html" %}

{% block title %}photoup - Upload Photos{% endblock %}

{% block content %}

<h2>Upload Photos</h2>
<div id="uploader-space">
	<input id="image_chooser" type="file" name="images[]" multiple/>
	<button id="choose_images" class="btn btn-primary">
		Select Images
	</button>
	<button id="upload_images" class="btn btn-success">
		Start Uploading
	</button>
</div>
<div id="preview-space">
	<table id="img_previews" class="table table-striped">

	</table>
</div>
{% endblock %}