#image_chooser, #upload_images {
	display: none;
}

#main {
	float: none;
	margin: 0 auto;
}

#preview-space {
	margin-top: 10px;
	height: 500px;
	overflow: auto;
}

#upload-finished-success {
	margin-top: 10px;
}

.image-space{
	text-align:center;
	padding:10px;
}
